# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [1]:
number = 6
print(number)

6

##### Assinging float

In [ ]:
number_float = 2.3
print(number)

#### Performing Calculations on ints and floats

##### Addition

In [6]:
5+5

number+5

number = number + 5
print(number)

number += 4
print(number)

25
29

##### Subtraction

In [8]:
number -5
#number = number-5
print(number)


number -= 2
print(number)

24
22

##### Multiplication

In [15]:
number2 = 5
number2*10

number2 = number2 * 10
print(number2)

number2 *= 10
print(number2)

50
500

##### Division

In [21]:
number2 = 500
number2 / 50

number2 = number2 / 50
print(number2)

number2 /= 2
print(int(number2))

10.0
5

##### Floor Division

In [23]:
odd_number = 13
odd_number // 2

odd_number = odd_number // 2
print(odd_number)

odd_number //= 2
print(odd_number)

6
3

##### Modulo

In [30]:
odd_number = 13
odd_number % 6


odd_number_remainder = odd_number % 2
print(odd_number_remainder)

odd_number %= 2
print(odd_number)

1
1

##### Exponential

In [29]:
square = 5 ** 2
print(square)


square **=3
print(square)

25
15625

### String Input-Output

##### String Assignment

In [31]:
name = "arsema"
print(name)

arsema

##### print() <br>
<p>Don't forget about end=' '</p>

In [34]:
print('this is my name:', name)
print('my full name' , name, end=' aragie')

this is my name: arsema
my full name arsema aragie

##### String Concatenation

In [39]:
last_name= 'aragie'
full_name= name + '' + last_name
print(full_name)

full_name += 'jr'
print(full_name)

arsemaaragie
arsemaaragiejr

##### Type Conversion

In [ ]:
fav_number = '23'
int(fav_number ) -5
type(fav_number)
fav_number = int(fav_number)

type(fav_number)
type(str(fav_number))
str_number = str(fav_number)
print(type(str_number))

##### input()

In [44]:
my_age = int(input(" please enter your age: "))

 please enter your age: 60

##### format()

In [45]:
result_string = "you are {} {} and you are getting wiser".format(my_age, "arsema")
print(result_string)

you are 60 arsema and you are getting wiser

##### Old Way (python 2)

In [ ]:
result_string2 = 'you are %s and you great' %str(my_age)
print(result_string2)

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [50]:
make = input("what make of your car?: ")
year = int(input("what year is your car? "))
model = input("what is the model of your car? ")
color = input("what is the color of your car")
result_string = "i bought {} {} {} {}".format(make , year , model , color)
print(result_string)

what make of your car?: honda
what year is your car? 2015
what is the model of your car? civic
what is the color of your carblue
i bought honda 2015 civic blue

### If Statements

In [57]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F


#if 5+5 == 11:
   # print('true')
    
    
#if 5==5 and 3==2:
   # print('true')

#if 5==5 and 5-3==2:
    #print('true') 
#if 5==5 and 5-3==2:
  #  print('or true')  
    
num1=5
num2 = 10

#if num2 == num1:
   # print('Equal Values')
    
#else:  
   #print('Not Equal')
if num1 > num2:
    print('num1 is larger')
    else:
     print('num2 is larger')

SyntaxError: invalid syntax (621607632.py, line 34)

##### 'is' keyword

In [59]:
new_number= 55
another_number = 55

if new_number == 55:
    print('true')
    
if new_number is another_number:
    print('isTrue')

true
isTrue

##### 'in' keyword

In [60]:
char_name = "Max Payne"

if "Max" in char_name:
    print(" Max is in string")

 Max is in string

##### 'not in' keyword'

In [61]:
nintendo_character= 'zelda'

if 'Z' not in nintendo_character:
    print('case sensetive')

case sensetive

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [68]:
food = input("my favorite food: ")


if 'h' not in food:
    print('yummy')

my favorite food: pizza
yummy

## Using 'and'/'or' with If Statements

In [70]:
num_11=11
num_12=12
num_12=10
num_14=3


if num_12 > num_14 and num_11 > num_12:
    print('both true')
    
if num_13 > num_14 or num_11 > num_12:
    print('both true')

both true

NameError: name 'num_13' is not defined

### Elif Statements

In [71]:
first_name = "Max"

if first_name == 'smith':
    print("name is smith")
elif first_name == "Max":
    print('name is Max')
elif first_name != "Bob":
    print('name is Bob')
else:
    print('name is not smith')

name is Max

### Else Statements

In [ ]:
# see above

In [87]:
full_name = 'arsema aragie'
for i in range (len('full_name')):
    print(i,' ', full_name[i])
    
    
print('done')

0   a
1   r
2   s
3   e
4   m
5   a
6
7   a
8   r
done

### For Loops

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [96]:
for num in range(10):
    if num == 5:
    continue
    print(num)

IndentationError: expected an indented block (1876836823.py, line 2)

##### Break Statement

In [ ]:
# will break out of current loop

In [99]:
for num in range(100000):
if num == 5:
    break
    print(num)
print('done')

IndentationError: expected an indented block (4098807900.py, line 2)

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [100]:
for num in range(100000):
if num == 5:
    pass
    print(num)
print('done')

IndentationError: expected an indented block (248633641.py, line 2)

##### Double For Loops

In [104]:
for num in range(5):
    for letter in 'arsema aragie':
        print(num, ' ', letter)
        print('nested loop done')

0   a
nested loop done
0   r
nested loop done
0   s
nested loop done
0   e
nested loop done
0   m
nested loop done
0   a
nested loop done
0
nested loop done
0   a
nested loop done
0   r
nested loop done
0   a
nested loop done
0   g
nested loop done
0   i
nested loop done
0   e
nested loop done
1   a
nested loop done
1   r
nested loop done
1   s
nested loop done
1   e
nested loop done
1   m
nested loop done
1   a
nested loop done
1
nested loop done
1   a
nested loop done
1   r
nested loop done
1   a
nested loop done
1   g
nested loop done
1   i
nested loop done
1   e
nested loop done
2   a
nested loop done
2   r
nested loop done
2   s
nested loop done
2   e
nested loop done
2   m
nested loop done
2   a
nested loop done
2
nested loop done
2   a
nested loop done
2   r
nested loop done
2   a
nested loop done
2   g
nested loop done
2   i
nested loop done
2   e
nested loop done
3   a
nested loop done
3   r
nested loop done
3   s
nested loop done
3   e
nested loop done
3   m
nested loop done
3   a
nested loop done
3
nested loop done
3   a
nested loop done
3   r
nested loop done
3   a
nested loop done
3   g
nested loop done
3   i
nested loop done
3   e
nested loop done
4   a
nested loop done
4   r
nested loop done
4   s
nested loop done
4   e
nested loop done
4   m
nested loop done
4   a
nested loop done
4
nested loop done
4   a
nested loop done
4   r
nested loop done
4   a
nested loop done
4   g
nested loop done
4   i
nested loop done
4   e
nested loop done

### While Loops

In [107]:
i = 0
while i < 100:
    print(i)
    i+=1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

##### Looping 'While True'

In [108]:
game_over=False
i=0
while True:
    if i==10:
        game_over=True
    if game_over == True:
        break
    i+=1
    print(i, 'Game On')

1 Game On
2 Game On
3 Game On
4 Game On
5 Game On
6 Game On
7 Game On
8 Game On
9 Game On
10 Game On

##### While & For Loops Used Together

### Built-In Functions

##### range()

In [110]:
for num in range(1,10,2):
    print(num)

1
3
5
7
9

##### len()

In [111]:
print(len('arsema aragie'))

13

In [112]:
full_name = 'arsema aragie'
for i in range(len('arsema aragie')):
    print(i,full_name)

0 arsema aragie
1 arsema aragie
2 arsema aragie
3 arsema aragie
4 arsema aragie
5 arsema aragie
6 arsema aragie
7 arsema aragie
8 arsema aragie
9 arsema aragie
10 arsema aragie
11 arsema aragie
12 arsema aragie

##### help()

In [113]:
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

##### isinstance()

In [117]:
print(isinstance(full_name,str))
print(isinstance(full_name,int))
print(isinstance(100,int))
print(isinstance('100',int))

if type(full_name)== str:
    print('type str')

True
False
True
False
type str

##### abs()

In [118]:
5 == abs(-5)

True

### Try and Except

In [120]:
try:
    my_age=input('what\'s your age')
    my_age+=1
    print(my_age)
except:
    print('please enter valid response')

what's your age60
please enter valid response

### Lists

##### Declaring Lists

In [122]:
my_list=[]

##### Indexing a List

##### .append()

In [123]:
my_list.append(1)
print(my_list)

[1]

##### .insert()

##### .pop()


##### .remove()

##### del()

##### Concatenating Two Lists

##### Lists Within Lists

##### Looping Through Lists

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [57]:
cubes = [number**3 for number in range(1,1000)]

for cube in cubes:
    if cube == 1000:
        break
    print(cube)

1
8
27
64
125
216
343
512
729

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [19]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break
for i in range(2,101): 
    for j in range(2,101):
        if i%j == 0:
            break
    if i == j:
        print(i,end=",")

2,3,5,7,11,13,17,19,23,29,31,37,41,43,47,53,59,61,67,71,73,79,83,89,97,

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [46]:
age = int(input("Enter age"))
if age < 18:
    print("kids")
if age <= 65:
    print("Adults")
if age > 65:
    print("seniors")

Enter age77
seniors